{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name"
               placeholder="Enter name"
               value="{{ request.form['name'] }}"></input>
        <br>
        <label for="firstname">Firstame</label>
        <br>
        <input type="text" name="firstname"
               placeholder="Enter name"
               value="{{ request.form['firstname'] }}"></input>
        <br>
        <label for="age">Age</label>
        <br>
        <input type="text" name="age"
               placeholder="Enter name"
               value="{{ request.form['age'] }}"></input>
        <button type="submit" name="submit">Submit</button>
    </form>
{% endblock %}