{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        {% for header in headings %}
        <th>{{ header }}</th>
        {% endfor %}
        <th>{{""}}</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
        <td>
          <form method="POST">
            <button type="submit" name="submit" class="btn" value={{row.Id}}><i class="fa fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}