{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Firstname</th>
        <th>Age</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for person in data %}
        <tr>
          <td>{{ person.id}}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.firstname }}</td>
          <td>{{ person.age }}</td>
          <td><button class="btn"><i class="fa fa-trash"></i></button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}